/** 三个步骤挤下来*/
.num .item {
  margin-right: 60px;
}

.num{
  display: none;
}

.containersm{
  padding-bottom: 30px;
}

.keepBtnBox .keepBtn {
  margin-left: 0;
  margin-right: 30px;
  width: 164px;
  color: #d10c1b;
  background-color: #ffffff;
  border: 1px solid #bcbcbc;
  display: inline-block
}

.keepBtnBox .cur {
  color: #ffffff;
  background-color: #d10c1b;
  border-color: #d10c1b
}

.keepBtn {
  margin-top: 50px;
  margin-left: 122px;
  text-align: center;
  width: 245px;
  height: 34px;
  line-height: 34px;
  color: #ffffff;
  border-radius: 4px;
  background-color: #d10c1b
}
