.proposal .box.j-prop-title{
    border-bottom: 1px dotted #666;
    background-color: transparent;
    border-radius: 0;
    padding: 15px 0;
}

.j-prop-title h3{
    display: inline-block;
}

.proposal .box .boxCon .boxText .text{
    word-wrap: unset;
    max-height: unset; 
}
.proposal .box .boxPic .text{
    width: 100%;
}
.j-exp-group{
    width: 100%;
}
.j-exp-group > a{
    color: #4b72fd !important;
    float:right;
    margin-right: 0px;
    padding: 15px 10px;
}

.j-exp-imgs{
    display: inline-block;
}

.j-exp-group .j-exp-img{
    display: inline-block;
    margin: 10px 10px 10px 0;
}

.j-exp-count{
    display: inline-block;
}
.proposal .box .boxCon.boxComment{
    background-color: #f3f3f3;
    padding-top: 15px;
}

.j-comment-item{
    position: relative;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #c1c1c1;
    padding: 15px 0;
}

.j-comment-avatar{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 20px;
}
.j-comment-avatar img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.btn-reply{
    position: absolute;
    bottom: 15px;
    right: 0;
    color: #aaaaaa;
}

.j-comment-text p{
    margin-bottom: 6px;
}

.j-comment-text p > span{
    color: #d10c1b;
}

.j-comment-reply{
    width: 100%;
}

.j-comment-reply a{
    float: right;
    padding: 5px 10px;
    background-color: #d10c1b;
    color: #FFF;
    text-decoration: none;
    margin-top: 10px;
}

.j-comment-reply textarea{
    width: 100%;
    resize: none;

}