* {
  outline: none;
}

*:focus {
  outline: none;
}

body {
  background-color: #f4f4f3;
}

.search {
  height: 40px;
  background: #fff;
  padding: 6px;
  display: flex;
  display: -webkit-flex;
}

.search input {
  width: 100%;
  border: 1px solid #ded7d7;
  height: 40px;
  padding-left: 20px;
}

.search button {
  width: 60px;
  display: none;
}

.keyword {
  padding-left: 6px;
  background: #fff;
  padding-right: 6px;
  display: none;
}

.sel-color {
  color: #0384e4;
}

.keyword-l {
  background: #fff;
  padding: 6px;
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  border: 1px solid #ccc;
}

.jm-box {
  background-color: #FFF;
  margin-bottom: 0.36363636rem;
  padding: 0 0.43636364rem;
}

.jm-box.jm-box-no-bg {
  padding: 0 1.63636364rem;
  background-color: transparent;
}

.jm-box.jm-box-no-padding {
  padding: 0;
}

.jm-box .jm-box-header {
  font-size: 0.58181818rem;
}

.jm-box .jm-item {
  font-size: 0.58181818rem;
  align-items: center;
  padding: 0.54545455rem 0;
  border-top: 1px solid #f6f6f6;
  display: flex;
}

.jm-box .jm-item.no-padding {
  padding: 0;
}

.jm-box .jm-item.padding-mini {
  padding: 0.4rem 0;
}

.jm-box .jm-item:first-child {
  border-top-width: 0;
}

.jm-box .jm-item.jm-item-block {
  display: block;
}

.jm-box .jm-item .jm-item-header {
  width: 100%;
}

.jm-box .jm-item .jm-item-body {
  width: 100%;
}

.jm-box .jm-item .jm-item-body textarea {
  /*height: 135rem/@base;*/
  resize: none;
  width: 100%;
  box-sizing: border-box;
  margin-top: 0.49090909rem;
  border-radius: 5px;
  border-color: #ececec;
  color: #ececec;
  padding: 0.18181818rem;
}

.jm-box .jm-item .jm-item_label {
  max-width: 3.27272727rem;
  color: #333;
}

.jm-box .jm-item .jm-item_content {
  flex: 1;
  text-align: right;
  color: #9b9b9b;
}

.jm-box .jm-item .jm-item_content img {
  width: 2.21818182rem;
  height: 2.21818182rem;
  border-radius: 50%;
}

.jm-box .jm-item .jm-item_content input {
  border: none;
  background: transparent;
  height: 100%;
  text-align: right;
  font-size: 0.58181818rem;
  color: #9b9b9b;
}

.jm-box .jm-item .jm-item-arrow {
  display: flex;
  align-items: center;
  margin-left: 0.65454545rem;
  font-size: 0.58181818rem;
  color: #9b9b9b;
}

.jm-box .jm-item .jm-item-arrow img {
  width: 0.29090909rem;
  height: 0.43636364rem;
}

.jm-btn {
  box-sizing: border-box;
  /*display: inline-block;*/
  width: 100%;
  padding: 0.43636364rem 0;
  text-align: center;
  border-radius: 1.09090909rem;
  font-size: 0.58181818rem;
}

.jm-btn.jm-btn-circle {
  background-color: transparent;
  border: 0.07272727rem solid #FF0000;
  color: #FF0000;
}

.jm-btn.jm-btn-red {
  background-color: #FF0000;
  color: #FFF;
}

.jm-btn-groups {
  position: relative;
  box-sizing: border-box;
  text-align: center;
  margin-top: 0.54545455rem;
  padding: 0 0.58181818rem;
  display: flex;
}

.jm-btn-groups.jm-btn-groups-block {
  padding: 0;
}

.jm-btn-groups.jm-btn-groups-block a {
  width: 100%;
}

.jm-btn-groups:not(.jm-btn-groups-block) a {
  width: 6.81818182rem;
}

.jm-btn-groups:not(.jm-btn-groups-block) a:last-child {
  position: absolute;
  right: 0.58181818rem;
}

.jm-content {
  padding-top: 3rem;
}

.jm-body_white {
  background-color: #FFF;
}

.jm-body_white .jm-content {
  padding-top: 2.13rem;
}

.jm-hr {
  height: 0.87rem;
  width: 100%;
  background-color: #f4f4f3;
}

.jm-update-pwd form {
  padding: 2.18181818rem 1.63636364rem 0;
}

.jm-input-group {
  box-sizing: border-box;
  padding-bottom: 1rem;
  position: relative;
}

.jm-input-group.jm-hasBtn input {
  padding-right: 3.34545455rem;
}

.jm-input-group.jm-hasMobile .jm-icon-mobile {
  width: 2.09090909rem;
  vertical-align: top;
  border-right: 1px solid #ececec;
  position: absolute;
  text-align: center;
  color: #9b9b9b;
  left: 0.81818182rem;
}

.jm-input-group.jm-hasMobile .jm-icon-mobile span {
  display: inline-block;
}

.jm-input-group.jm-hasMobile input {
  padding-left: 3.34545455rem;
}

.jm-input-group input {
  font-size: 0.58181818rem;
  box-sizing: border-box;
  padding: 0.09090909rem 0.50909091rem 0.50909091rem 1.05454545rem;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  width: 100%;
}

.jm-input-group .jm-icon {
  width: 0.58181818rem;
  height: 0.72727273rem;
  position: absolute;
  left: 0;
}

.jm-input-group .jm-input-btn {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0.45454545rem;
  background-color: #ececec;
  width: 3.36363636rem;
  height: 0.96363636rem;
  line-height: 0.96363636rem;
  color: #9b9b9b;
  font-size: 0.58181818rem;
  text-align: center;
}
.jm-input-group .jm-input-img {
  position: absolute;
  right: 0;
  top: 0;
  width: 3.36363636rem;
  height: 0.96363636rem;
  line-height: 0.96363636rem;
  color: #9b9b9b;
  font-size: 0.58181818rem;
  text-align: center;
}

.jm-footer-min {
  margin-top: 1.81818182rem;
  margin-bottom: 1.81818182rem;
  /*    position: absolute;
        bottom: 0;*/
}

.jm-info {
  position: relative;
  padding: 0.43636364rem 0;
  display: flex;
}

.jm-info .jm-info-avatar {
  width: 2.18181818rem;
  height: 2.18181818rem;
  border-radius: 50%;
  overflow: hidden;
}

.jm-info .jm-info-avatar img {
  width: 100%;
  height: 100%;
}

.jm-info .jm-info-body {
  padding: 0.25454545rem 0 0 0.43636364rem;
  flex: 1;
}

.jm-info .jm-info-body .jm-info-title {
  font-size: 0.43636364rem;
  color: #333;
}

.jm-info .jm-info-body .jm-info-addon {
  margin-bottom: 0.29090909rem;
  font-size: 0.43636364rem;
  color: #cfcfcf;
}

.jm-info .jm-info-body .jm-info-addon span {
  padding: 0 0.43636364rem;
  border-left: 1px solid #cfcfcf;
}

.jm-info .jm-info-body .jm-info-addon span:first-child {
  padding-left: 0;
  border-left-width: 0;
}

.student-name {
  width: 54px;
  text-align: center;
  display: inherit;
}

.jm-info .jm-info-body .jm-info-intro {
  margin-bottom: 0.36363636rem;
  line-height: 1.75;
  color: #787878;
  font-size: 0.43636364rem;
}

.jm-info .jm-info-btn {
  position: absolute;
  right: 0;
  top: 0.43636364rem;
  color: #9b9b9b;
  border: 1px solid #9b9b9b;
  width: 3.27272727rem;
  font-size: 0.43636364rem;
  padding: 0.18181818rem 0;
}

.jm-btn-block {
  width: 100%;
  padding: 0 0.43636364rem;
}

.jm-btn-block a {
  width: 100%;
}

.jm-tabs .jm-tabs-header {
  display: flex;
  border-bottom: 1px solid #f6f6f6;
  list-style: none;
}

.jm-tabs .jm-tabs-header li {
  padding: 0.4rem 0;
  flex: 1;
  text-align: center;
}

.jm-tabs .jm-tabs-header li a {
  color: #333;
}

.jm-tabs .jm-tabs-header li.active {
  border-bottom: 1px solid #e41f1f;
}

.jm-tabs .jm-tabs-header li.active a {
  color: #e41f1f;
}

.jm-tabs .jm-tabs-body {
  padding: 0.43636364rem;
}

.jm-tabs .jm-tabs-body .jm-post {
  position: relative;
  border-bottom: 1px solid #cfcfcf;
  padding: 0.43636364rem 0 0.72727273rem;
}

.jm-tabs .jm-tabs-body .jm-post:last-child {
  border-bottom-width: 0;
}

.jm-tabs .jm-tabs-body .jm-post.jm-post-flex {
  display: flex;
  align-items: flex-start;
}

.jm-tabs .jm-tabs-body .jm-post .jm-post-tags {
  margin-top: -0.18181818rem;
  margin-bottom: 0.27272727rem;
}

.jm-tabs .jm-tabs-body .jm-post .jm-post-avatar {
  width: 2.18181818rem;
  height: 2.18181818rem;
  margin-right: 0.36363636rem;
  /* overflow: hidden; */
  border-radius: 50%;
}

.jm-tabs .jm-tabs-body .jm-post .jm-post-avatar img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

.jm-tabs .jm-tabs-body .jm-post .jm-post-con {
  position: relative;
  flex: 1;
}

.jm-tabs .jm-tabs-body .jm-post .jm-post-title {
  color: #333;
  font-size: 0.58181818rem;
  margin-bottom: 0.54545455rem;
}

.jm-tabs .jm-tabs-body .jm-post .jm-post-edit {
  position: absolute;
  right: 0;
  top: 0.43636364rem;
  color: #0384e4;
  font-size: 0.43636364rem;
}

.jm-tabs .jm-tabs-body .jm-post .jm-post-edit i {
  margin-left: 0.27272727rem;
}

.jm-tabs .jm-tabs-body .jm-post .jm-post-hf {
  position: absolute;
  right: 0;
  bottom: 0;
}

.jm-tabs .jm-tabs-body .jm-post .jm-post-body {
  color: #787878;
  font-size: 0.43636364rem;
  line-height: 1.75;
}

.jm-tabs .jm-tabs-body .jm-post .jm-post-body.jm-status-open .jm-post-content {
  max-height: none;
}

.jm-tabs .jm-tabs-body .jm-post .jm-post-body .jm-post-content {
  display: block;
  max-height: 50px;
  overflow: hidden;
}

.jm-tabs .jm-tabs-body .jm-post .jm-post-body a {
  margin: 0.4rem 0;
  color: #0384e4;
  font-size: 0.43636364rem;
}

.jm-tabs .jm-tabs-body .jm-post .jm-post-time {
  color: #cfcfcf;
  font-size: 0.43636364rem;
  margin-bottom: 0.36363636rem;
}

.jm-tabs .jm-tabs-body .jm-post .jm-post-footer {
  /*margin-top: 35rem/@base;*/
  float: right;
  display: flex;
  align-items: center;
}

.jm-tabs .jm-tabs-body .jm-post .jm-post-footer>a,
.jm-tabs .jm-tabs-body .jm-post .jm-post-footer>span {
  margin-left: 0.27272727rem;
  vertical-align: top;
  display: inline-block;
  font-size: 0.43636364rem;
}

.jm-tabs .jm-tabs-body .jm-post .jm-post-footer>a>span,
.jm-tabs .jm-tabs-body .jm-post .jm-post-footer>span>span {
  vertical-align: top;
  color: #9b9b9b;
  font-size: 0.43636364rem;
}

.jm-tabs .jm-tabs-body .jm-post .jm-post-footer>a i,
.jm-tabs .jm-tabs-body .jm-post .jm-post-footer>span i {
  margin-right: 0.27272727rem;
}

.jm-icon {
  display: inline-block;
  width: 0.54545455rem;
  height: 0.54545455rem;
}

.jm-icon.jm-icon-zan {
  background: url(../img/icon14_1.png) no-repeat 100% 100%;
  background-size: 100% 100%;
}

.jm-icon.jm-icon-comment {
  background: url(../img/icon15_1.png) no-repeat 100% 100%;
  background-size: 100% 100%;
}

.jm-icon.jm-icon-plus {
  background: url(../img/icon16.png) no-repeat 100% 100%;
  background-size: 100% 100%;
}

.jm-icon.jm-icon-right {
  width: 0.21818182rem;
  height: 0.32727273rem;
  background: url(../img/icon10.png) no-repeat 100% 100%;
  background-size: 100% 100%;
}

.jm-icon.jm-icon-user {
  width: 0.72727273rem;
  height: 0.72727273rem;
  background: url(../img/icon9.png) no-repeat 100% 100%;
  background-size: 100% 100%;
}

.jm-empty {
  text-align: center;
  font-size: 0.58181818rem;
  color: #9b9b9b;
  margin: 1.81818182rem 0;
}

.log_header .jm-info-user {
  position: absolute;
  display: inline-block;
  top: 0.63636364rem;
  right: 0.43636364rem;
}

.jm-tag {
  line-height: 1;
  display: inline-block;
  margin-right: 0.27272727rem;
  margin-bottom: 0.27272727rem;
  padding: 0.18181818rem 0.27272727rem;
  border: 1px solid #ececec;
  border-radius: 0.45454545rem;
  color: #9b9b9b;
  font-size: 0.47272727rem;
}

.jm-textarea-focus {
  color: #333 !important;
}

.hidden {
  display: none !important;
}

.jm-fixed-bottom {
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.jm-tooptips-green {
  background-color: green;
}

.mn-list ul li{
  border-width: 1px;
}
.jm-item-body .weui-cells{
  font-size: 0.58181818rem;
}