html,body{width: 100%;height: 100%;background: #f4f4f4;}
/*头部*/
.det_header{
	width:100%;
	height:2.13rem;
	background:#ffffff;
	position:fixed;
	top:0;left:0px;
	z-index: 999;
	box-shadow:0px 5px 10px #dededd;
}
.det_left{
	display: block;
	width:0.44rem;
	height:0.69rem;
	position: absolute;
	left:0.49rem;
	top:0.73rem;
}
.det_left img{
	display: block;
	width:0.44rem;
}
.det_header h5{
	text-align: center;
	line-height:2.13rem;
	color:#333;
	font-size: 0.8rem;
	letter-spacing: 1px;
}
.det_right{
	display: block;
	width:0.69rem;
	height:0.69rem;
	position: absolute;
	bottom: 0.67rem;
	right:0.49rem;
}
.det_right img{
	width:0.69rem;
	height: 0.69rem;
	position:relative!important;
	left:0px;right: 0px;	
}

/*底部*/
.footer{
	width: 100%;
	height:auto;
	overflow: hidden;
	margin-bottom: 0.4rem;
}
.footer p{
	text-align: center;
	font-size: 0.44rem;
	color:#9b9b9b;
	margin-top: 0.24rem;
}


/*发布提案*/
.case_m{
	width: 100%;
	margin-top: 2.53rem;
}
.cm-a{
	background: #fff;
	padding: 0.55rem 2%;
	margin-bottom: 0.4rem;
}
.cm-a .ca-col{
	line-height: 1.5rem;
	margin-bottom: 0.52rem;
}
.cm-a .ca-col span{
	font-size: 0.7rem;
	color: #333;
}
.cm-a .ca-col input{
	height: 1.5rem;
	float: right;
	width: 11.5rem;
	border: 2px solid #ECECEC;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 0.6rem;
}
.cm-a .ca-text{
	width: 100%;
}
.cm-a .ca-text textarea{
	width: 100%;
	height: 7.8rem;
	border: 2px solid #ECECEC;
	border-radius: 4px;
	padding: 0;
	box-sizing: border-box;
	font-size: 0.6rem;
}

.cm-b{
	background: #fff;
	padding: 0.55rem 2%;
	margin-bottom: 2.4rem;
}
.cm-b .cb-col{
	padding: 0.2rem 0;
	line-height: 1.5rem;
	border-bottom: 2px solid #ECECEC;
}
.cm-b .cb-col span{
	font-size: 0.7rem;
	color: #333;
}
.cm-b .cb-col input{
	height: 1.5rem;
	float: right;
	width: 11.5rem;
	border: 2px solid #ECECEC;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 0.6rem;
}
.cm-b ul li{
	border-bottom: 2px solid #ECECEC;
	line-height: 1.7rem;
	background: url(../img/right.png) no-repeat 98% center;
	background-size: 0.34rem;
}
.cm-b ul li a{
	display: block;
	font-size: 0.7rem;
	color: #333;
}
.cm-b .cb-p1{
	line-height: 1.8rem;
	text-align: center;
}
.cm-b .cb-p1 a{
	display: block;
	font-size: 0.56rem;
	color: #0384e4;
}

.cm-btn{
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 9;
	width: 100%;
	height: 2.1rem;
	background: #fff;
	box-shadow: 0px -5px 10px #dededd;
	text-align: center;
}
.cm-btn button{
	width: 33.3%;
	height: 2.1rem;
	border: 0;
	background: #fff;
	color: #4e4e4e;
	font-size: 0.56rem;
	float: left;
}
.cm-btn span{
	display: inline-block;
	width: 2px;
	height: 1.1rem;
	background: #ECECEC;
	position: absolute;
	top: 0.5rem;
}
.cm-btn span.cm-bor1{
	left: 33.3%;
}
.cm-btn span.cm-bor2{
	right: 33.3%;
}


/*学生注册信息*/
.stu-m{
	width: 100%;
	margin-top: 2.53rem;
}
.stu-m .sm-tx{
	font-size: 0.6rem;
	color: #333;
	padding: 0.52rem 2%;
	background: #fff url(../img/right.png) no-repeat 97% center;
	background-size: 0.34rem;
	height: 2.66rem;
	line-height: 2.66rem;
	margin-bottom: 0.3rem;
}
.stu-m .sm-tx img{
	float: right;
	width: 2.66rem;
	height: 2.66rem;
	border-radius: 50%;
	margin-right: 0.9rem;
}

.stu-m .sm-form{
	padding: 0 2%;
	background: #fff;
	margin-bottom: 0.3rem;
}
.stu-m .sm-form ul li{
	border-bottom: 2px solid #ECECEC;
	font-size: 0.6rem;
	color: #333;
	height: 1.6rem;
	line-height: 1.6rem;
	padding-right: 0.86rem;
}
.stu-m .sm-form ul li:last-child{
	border: 0;
}
.stu-m .sm-form ul li.sm-right{
	background: url(../img/right.png) no-repeat 98.5% center;
	background-size: 0.34rem;
}
.stu-m .sm-form ul li input{
	float: right;
	height: 30px;
	border: 0;
	text-align: right;
	color: #ccc;
	font-size: 0.66rem;
}
.stu-m .sm-form ul li ::-webkit-input-placeholder { /* WebKit browsers */  
    color: #ccc;  
}  
.stu-m .sm-form ul li :-moz-placeholder { /* Mozilla Firefox 4 to 18 */  
    color: #ccc;  
   opacity:  1;  
}  
.stu-m .sm-form ul li ::-moz-placeholder { /* Mozilla Firefox 19+ */  
    color: #ccc;  
   opacity:  1;  
}  
.stu-m .sm-form ul li :-ms-input-placeholder { /* Internet Explorer 10+ */  
   color: #ccc;  
}  

.stu-m .sm-jj{
	padding: 0 2% 0.4rem;
	background: #fff;
	margin-bottom: 0.3rem;
}
.stu-m .sm-jj p{
	line-height: 1.4rem;
	font-size: 0.6rem;
	color: #333;
}
.stu-m .sm-jj textarea{
	width: 100%;
	height: 3.0rem;
	border: 2px solid #ECECEC;
	border-radius: 4px;
	padding: 0.2rem 2%;
	box-sizing: border-box;
	font-size: 0.55rem;
}
.stu-m .sm-btn{
	text-align: center;
	margin: 0.9rem 0 0.6rem;
}
.stu-m .sm-btn .sm-but1{
	width: 80%;
	height: 1.6rem;
	border-radius: 0.7rem;
	border: 0;
	color: #fff;
	font-size: 0.7rem;
	background: #ff0000;
	box-shadow: 0px 5px 10px #f84141;
}
.stu-m .sm-btn .sm-but2{
	width: 45%;
	height: 1.6rem;
	border-radius: 0.7rem;
	border: 3px solid #ff0000;
	color: #fff;
	font-size: 0.7rem;
	background: #ff0000;
	box-shadow: 0px 5px 10px #f84141;
	margin: 0 2%;
}
.stu-m .sm-btn .sm-but3{
	width: 45%;
	height: 1.6rem;
	border-radius: 0.7rem;
	border: 0;
	color: #ff0000;
	font-size: 0.7rem;
	background: #f4f4f4;
	border: 3px solid #ff0000;
	margin: 0 2%;
}


/*关注专家*/
.follow-m{
	width: 100%;
	margin-top: 2.53rem;
}
.follow-m ul li{
	min-height: 2.66rem;
	padding: 0.7rem 2%;
	background: #fff;
	border-bottom: 2px solid #ECECEC;
}
.follow-m ul li:last-child{
	border: 0;
}
.follow-m ul li img{
	width: 2.66rem;
	height: 2.66rem;
	border-radius: 50%;
	float: left;
}
.follow-m ul li .fm-text{
	padding-left: 2.9rem;
}
.follow-m ul li .fm-p1{
	line-height: 0.8rem;
	font-size: 0.65rem;
	color: #333;
	margin-bottom: 0.2rem;
}
.follow-m ul li .fm-p2{
	color: #9b9b9b;
	font-size: 0.55rem;
	line-height: 0.8rem;
	margin-bottom: 0.2rem;
}
.follow-m ul li .fm-p3{
	color: #cfcfcf;
	font-size: 0.55rem;
	line-height: 0.7rem;
}
.follow-m ul li .fm-p3 a{
	float: right;
	color: #0384e4;
}
.follow-m .fm-btn{
	text-align: center;
	margin: 0.9rem 0 0.6rem;
}
.follow-m .fm-btn a{
	display: inline-block;
	width: 80%;
	height: 1.6rem;
	line-height: 1.6rem;
	border-radius: 0.7rem;
	border: 0;
	color: #fff;
	font-size: 0.7rem;
	background: #ff0000;
	box-shadow: 0px 5px 10px #f84141;
}


/*青少年模拟政协*/
.mn-ban{
	width: 100%;
	background: #fff;
	padding: 0.3rem 0 !important;
	margin-top: 2.53rem !important;
}
.mn-ban .swiper-container {
  width: 100%;
  height: 100%;
}
.mn-ban .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.mn-ban .swiper-slide img{
	width: 100%;
}
.mn-p1{
	line-height: 1.6rem;
	font-size: 0.7rem;
	color: #FF0000;
	background: #fff;
}
.mn-p1 span{
	display: inline-block;
	width: 4px;
	height: 0.8rem;
	background: #FF0000;
	float: left;
	margin-top: 0.4rem;
	margin-right: 0.35rem;
}
.mn-list{
	padding: 0 2%;
	background: #fff;
	margin-bottom: 0.4rem;
}
.mn-list ul li{
	height: 3.15rem;
	border-bottom: 2px solid #ECECEC;
	padding: 0.5rem 0;
	position: relative;
}
.mn-list ul li a{
	display: block;
}
.mn-list ul li img{
	width: 4.8rem;
	height: 3.15rem;
	position: absolute;
	top: 0.5rem;
	right: 0;
}
.mn-list ul li .mn-text{
	padding-right: 5.0rem;
}
.mn-list ul li .mn-p2{
	color: #4A4A4A;
	font-size: 0.65rem;
	height: 2.0rem;
	line-height: 1.0rem;
	overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.mn-list ul li .mn-p3{
	line-height: 0.6rem;
	color: #cfcfcf;
	font-size: 0.55rem;
	margin-top: 0.45rem;
}

.mn-list .mn-p4{
	line-height: 1.8rem;
	text-align: center;
}
.mn-list .mn-p4 a{
	display: block;
	font-size: 0.56rem;
	color: #0384e4;
}

.mn-zw{
	height: 2.1rem;
}
.mn-btn{
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 9;
	width: 100%;
	height: 2.1rem;
	background: #fff;
	box-shadow: 0px -5px 10px #dededd;
	text-align: center;
}
.mn-btn button{
	width: 50%;
	height: 2.1rem;
	border: 0;
	background: #fff;
	color: #4e4e4e;
	font-size: 0.56rem;
	float: left;
}
.mn-btn span{
	display: inline-block;
	width: 2px;
	height: 1.1rem;
	background: #ECECEC;
	position: absolute;
	top: 0.5rem;
}
.mn-btn span.cm-bor1{
	left: 50%%;
}
