.j-content-resource .mn-list ul li img{
    left: 0;
    right: unset;
}

.j-content-resource .mn-list ul li .mn-text{
    padding-left: 5rem;
    padding-right: 0;
}

.j-content-resource .mn-list ul li .mn-p3{
    float: right;
}
.jm-content-lib .mn-list ul li .mn-p2{
    height: auto;
    display: inline-block;
}

.jm-content-lib .mn-list ul li{
    height: auto;
}

.jm-content-lib .mn-list ul li .mn-text{
    padding-left: 0;
    padding-right: 5.5rem;
    position: relative;
}

.jm-content-lib .mn-list ul li .mn-p3{
    position: absolute;
    right: 0;
    top: .1rem;
    margin-top: 0;
}