/* 重置所有的元素样式 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-family: '微软雅黑';
}
dl,ol,ul{list-style: none;}
a{text-decoration: none;}
button{-webkit-appearance:none; /*去除input默认样式*/}
input[type="button"], input[type="submit"], input[type="reset"] {

-webkit-appearance: none;

}