html,body{width: 100%;height: 100%;}
/*登录样式开始*/
.log_header{
	width:100%;
	height:2.13rem;
	background:#ffffff;
	position:fixed;
	top:0;left:0px;
	box-shadow:0px 5px 10px #dededd;
	z-index: 999;
}
.log_header img{
	width:0.44rem;
	height:0.69rem;
	position: absolute;
	left:0.49rem;
	top:0.73rem;
}
.log_header h5{
	text-align: center;
	line-height:2.13rem;
	color:#333;
	font-size: 0.8rem;
	letter-spacing: 1px;
}
.log_content{
	width: 100%;
	height:auto;
	overflow: hidden;
	margin-top:4.58rem;
}
.log_content_logo{
	width: 4.27rem;
	height: 4.16rem;
	margin: auto;
	overflow: hidden;
}
.log_content_logo img{
	width: 4.27rem;
	height: 4.16rem;
}
.log_content_tijiao{
	margin-left:2.0rem;
	margin-right:2.0rem;
	min-height:8.89rem;
	overflow: hidden;
	margin-top: 0.84rem;
}
.log_content_tijiao_top{
	width: 100%;
	height:2.2rem;
	border-bottom:1px solid #cccccc;
}
.log_content_tijiao_top img{
	width: 0.71rem;
	height: 0.89rem;
	float: left;
	margin-top: 0.65rem;
}
.log_content_tijiao_top input{
	width:10rem;
	outline: none;
	border: none;
	background: none;
	font-size:0.67rem;
	/* color:#ccc; */
	float: left;
	height: 0.67rem;
	padding-top:0.765rem;
	padding-bottom:0.765rem;
	margin-left: 0.47rem;
}
.log_content_tijiao_top input::-webkit-input-placeholder {
   /* WebKit browsers */
   color:#ccc;
 }
 .log_content_deng{
 	width: 100%;
 	height:1.78rem;
 	color:#fff;
 	font-size: 0.71rem;
 	border-radius:0.89rem;
 	margin-top: 1.64rem;
 	box-shadow:0px 3px 8px #ff9898;
 	background:#ff0000;
 	outline: none;
 	border:none;
	display:block;
	line-height: 1.78rem;
	text-align: center;
	padding: 0;
 }
.log_content_tijiao_footer a{
	font-size: 0.58rem;
	color:#1b90e7;
	text-decoration: none;
	margin-top: 0.67rem;
 }
.log_content_tijiao_footer_left{
	float: left;
}
.log_content_tijiao_footer_right{
	float: right;
}
.footer{
	width: 100%;
	height:auto;
	overflow: hidden;
	margin-top: 6.22rem;
}
.footer p{
	text-align: center;
	font-size: 0.44rem;
	color:#9b9b9b;
	margin-top: 0.24rem;
}
/*登录样式结束*/
/*注册样式开始*/
.reg_footer{
	width: 100%;
	height:auto;
	overflow: hidden;
	position: absolute;
	bottom:0.58rem;
}
.reg_footer p{
	text-align: center;
	font-size: 0.44rem;
	color:#9b9b9b;
	margin-top: 0.24rem;
}
.reg_content_logo{
	width: 4.27rem;
	height: 4.16rem;
	margin: auto;
	margin-top:4.33rem;
	overflow: hidden;
}
.reg_content_logo img{
	width: 4.27rem;
	height: 4.16rem;
}
.reg_zhuc{
	margin-left:1.89rem;
	margin-right: 1.89rem;
	height: 1.78rem;
	box-shadow:0px 3px 8px #ff9898;
	text-align: center;
	line-height: 1.78rem;
	color: #fff;
    font-size: 0.71rem;
    border-radius: 0.89rem;
    background:#ff0000;
}
.reg_zhuc a{
	display: block;
	width: 100%;
	height: 100%;
	color: #fff;
	text-decoration: none;
	margin-top: 0.84rem;
}
.reg_content{
	width: 100%;
	height:auto;
	overflow: hidden;
	margin-top:0.44rem;
}
/*注册样式结束*/
/*专家注册样式开始*/
.Exp_yan{
	width: 4.0rem;
	height: 1.11rem;
	border-radius:1rem;
	background:#ececec;
	font-size: 0.6rem;
	color:#9f9f9f;
	position: absolute;
	right: 0px;bottom: 0.44rem;
}
.Exp_yan button{
	outline: none;
	background: none;
	width: 100%;
	height: 100%;
	border: none;
	color:#a8a8a8;
}
.Exp_sj{
	width: 3.73rem;
	height: 1.16rem;
	position: absolute;
	top:0.5rem;left: 0;
	background:#fff;
	border-right:1px solid #979797;
}
.Exp_sj_left{
	width: 0.78rem;
	height: 1.16rem;
	float:left;
	margin-top:0.2rem!important;
}
.Exp_sj_right{
	float:left;
	width: 2.53rem;
	height: 1.16rem;
}
.Exp_sj_right p{
	font-size:0.6rem;
	float: left;
	/* color:#cccccc; */
	margin-left: 0.44rem;
	line-height:1.16rem;
}
.Exp_sj_right img{
	width: 0.44rem;
	height: 0.29rem;
	float: left;
	margin-top:0.44rem!important;
	margin-left: 0.33rem;
}
.Exp_sj_input{
	width: 5rem!important;
	margin-left: 4.2rem!important;
}
/*专家注册样式结束*/
/*学生注册样式开始*/
/*学生注册样式结束*/
/*details详情样式开始*/
.det_header{
	width:100%;
	height:2.13rem;
	background:#ffffff;
	position:fixed;
	top:0;left:0px;
	box-shadow:0px 5px 10px #dededd;
}
.det_left{
	display: block;
	width:0.44rem;
	height:0.69rem;
	position: absolute;
	left:0.49rem;
	top:0.73rem;
}
.det_left img{
	display: block;
	width:0.44rem;
}
.det_header h5{
	text-align: center;
	line-height:2.13rem;
	color:#333;
	font-size: 0.8rem;
	letter-spacing: 1px;
}
.det_right{
	display: block;
	width:0.69rem;
	height:0.69rem;
	position: absolute;
	bottom: 0.67rem;
	right:0.49rem;
}
.det_right img{
	width:0.69rem;
	height: 0.69rem;
	position:relative!important;
	left:0px;right: 0px;
}
.det_content{
	width: 100%;
	height:auto;
	overflow: hidden;
	margin-top:2.8rem;
	background:#fff;
}
.det_content_nei{
	margin-left: 0.44rem;
	margin-right: 0.44rem;
	height: auto;
	overflow: hidden;
	background:#fff;
	margin-bottom: 2rem;
    margin-top: 1rem;
}
.det_content_nei h4{
	font-size: 0.7rem;
	color:#4a4a4a;
}

.det_content_nei_shi{
	width:100%;
	height: auto;
	overflow: hidden;
	margin-top:0.78rem;
	margin-bottom: 0.78rem;
}
.det_content_nei_shi{
	font-size:0.6rem;
	color:#9b9b9b;
}
.det_content_nei_shi_left{
	float: left;
}
.det_content_nei_shi_right{
	float: right;
}
.det_content_nei_con{
	width: 100%;
	height:auto;
	overflow: hidden;
}
.det_content_nei_con p{
	font-size: 0.55rem;
	color:#787878;
	line-height: 0.8rem;
	margin-top: 0.78rem;
}
/*details详情样式结束*/
/*Researchcenter开始*/
.Re_banner{
	width:100%;
	height:8.0rem;
	background:#fff;
	overflow:hidden;
	margin-top:2.6rem;
}
.Re_banner img{
	margin-left: 0.53rem;
	margin-right:0.53rem;
	height:6.93rem;
	margin-top: 0.53rem;
}
.Re_content_title{
	width:100%;
	height:0.84rem;
	margin-top: 0.51rem;
}
.Re_content_title span{
	display: block;
	width:0.18rem;
	height: 0.8rem;
	background:#ff0000;
	float: left;
}
.Re_content_title p{
	font-size:0.76rem;
	line-height:0.84rem;
	float: left;
	margin-left: 0.4rem;
	color:#ff1313;
	font-weight:bold;
}
.Re_content_wai{
	width:100%;
	height:3.44rem;
	background:#fff;
	overflow: hidden;
	margin-top: 0.44rem;
}
.Re_content_title_bottom{
	display: block;
	margin-left: 0.49rem;
	margin-right: 0.49rem;
	height: auto;
	overflow: hidden;
	margin-top: 0.8rem;
}
.Re_content_title_bottom p{
	font-size:0.67rem;
	float: left;
}
.Re_content_title_bottom img{
	width:0.27rem;
	height: 0.4rem;
	float: right;
	margin-top:0.27rem;
}
.Re_content_two{
	width:100%;
	height:auto;
	overflow: hidden;
}
.Re_content_two_list{
	width:100%;
	height:6.44rem;
	margin-top:0.4rem;
}
.Re_content_two_list>div{
	width:33.3%;
	height:6.44rem;
	background:#fff;
	float: left;
}
.Re_content_two_list>div img{
	width:3.13rem;
	height: 3.13rem;
	border-radius:50%;
	display: block;
	margin:auto;
	margin-top: 0.44rem;
}
.Re_content_two_list>div h4{
	font-size:0.6rem;
	color:#595959;
	text-align: center;
	margin-top: 0.24rem;
}
.Re_content_two_list_b a{
	display: block;
	width:2.09rem;
	height:0.67rem;
	border:1px solid #ececec;
	border-radius:10px;
	text-align: center;
	line-height: 0.67rem;
	float: left;
	margin-left: 0.11rem;
	font-size:0.5rem;
	color:#a3a3a3;
}
.Re_content_two_list_b{
	margin-left: 0.3rem;
	margin-top: 0.44rem;
}
.Re_footer_di{
	width:100%;
	height:1.96rem;
	background:#fff;
	position: fixed;
	bottom:0rem;left:0rem;
	overflow: hidden;
	box-shadow:0px -3px 10px #e6e6e5;
}
.Re_footer_di_nei{
	width:100%;
	height: 1.22rem;
	margin-top: 0.38rem;
}
.Re_footer_di_nei a{
	display:block;
	width:49%;
	float: left;
	height:1.22rem;
	text-align: center;
	line-height: 1.22rem;
	font-size:0.56rem;
}
.Re_footer_di_nei a:nth-child(2){
	border-left:1px solid #ececec;
	color:#ff1e1e;
}

/*Researchcenter结束*/
/*Secondedbyreply开始*/
.Sec_content_one{
	width:100%;
	min-height: 4.67rem;
	background:#fff;
	margin-top:3rem;
	overflow: hidden;
}
.Sec_content_one_left{
	width:2.71rem;
	height:2.71rem;
	margin-left: 0.49rem;
	margin-top: 0.49rem;
	float: left;
}
.Sec_content_one_left img{
	width:2.71rem;
	height:2.71rem;
	border-radius:50%;
}
.Sec_content_one_right{
	width:11.78rem;
	min-height:4.67rem;
	float: left;
	margin-left: 0.44rem;
	position:relative;
}
.Sec_content_one_right h4{
	font-size:0.6rem;
	color:#2d2d2d;
	margin-top:0.8rem;
	margin-bottom:0.29rem;
}
.Sec_content_one_right p{
	color:#d1d1d1;
	font-size: 0.55rem;
}
.Sec_content_one_right_b{
	font-size: 0.55rem;
	color:#787878!important;
	margin-bottom: 0.5rem;
}
.Sec_content_one_right_bian{
	display:block;
	width:3.93rem;
	height: 0.84rem;
	color:#9b9b9b;
	border-radius:10px;
	border:1px solid #ececec;
	text-align: center;
	line-height: 0.84rem;
	font-size:0.5rem;
	position: absolute;
	top: 0.82rem;
	right:0.6rem;
}
.Sec_content_two{
	width:100%;
	height:auto;
	background:#fff;
	overflow:hidden;
	margin-top:0.44rem;
}
.Sec_content_two_title{
	width:100%;
	height:1.71rem;
	border-bottom:1px solid #ececec;
}
.Sec_content_two_title a{
	width:50%;
	height:1.71rem;
	float: left;
	text-align: center;
	line-height: 1.71rem;
	font-size:0.67rem;
	color:#868686;
}
.Sec_activ{
	color:#ff0000!important;
	border-bottom: 2px solid #fd1111;
}
.Sec_content_two_con{
	margin-left: 0.49rem;
	margin-right: 0.49rem;
	height:auto;
	overflow: hidden;
	margin-top: 0.2rem;
}
.Sec_content_two_con figure{
	display: none;
	width: 100%;
	height: auto;
	overflow: hidden;
}
.Sec_content_two_con figure:nth-child(1){
	display: block;
}
.Sec_content_two_con_list{
	width: 100%;
	height: auto;
	overflow: hidden;
	border-bottom:1px solid #ececec;
	    position: relative;
}
.Sec_content_two_con_list h4{
	font-size:0.67rem;
	color:#333333;
	margin-top:0.96rem;
	margin-bottom: 0.4rem;
}
.Sec_content_two_con_list p{
	font-size: 0.55rem;
	color:#787878;
	line-height: 0.8rem;
	margin:7px 0;
	text-indent: 2em;
}
.Sec_content_two_con_list span{
	/* color:#e2e2e2; */
	color: #787878;
	font-size: 0.5rem;
	margin-top: 0.47rem;
	display: block;
	margin-bottom:1rem;
}
.Sec_footer_di{
	margin-top: 0.71rem;
	margin-left: 1.96rem;
	margin-right: 1.96rem;
	height:1.78rem;
	background:#ff0000;
	border-radius:1rem;
	text-align: center;
	line-height: 1.78rem;
	color:#fff;
	font-size:0.73rem;
	box-shadow: 0px 3px 8px #ff9898;
}
.Sec_footer_di a{
	display: block;
	width: 100%;
	height: 1.78rem;
	text-decoration: none;
	color:#fff;
}
.Sec_content_two_con_list_bottom{
	width:10.5rem;
	height:1.07rem;
	-background:red;
	float: right;

}
.Sec_content_two_con_list_botto>div{
}
.Sec_content_two_con_list_bottom div img{
	width: 0.67rem;
	height: 0.67rem;
	float: left;
}
.Sec_content_two_con_list_bottom p{
	font-size: 0.5rem;
	float: left;
	margin-left: 0.4rem;
	margin-right: 0.6rem;
	margin-top: 0;
	margin-bottom: 0;
	text-indent: 0;

}
.Sec_content_bian{
	position: absolute;
	right: 0;top:1rem;
}
.Sec_content_bian a{
	font-size: 0.55rem;
	text-decoration: none;
	color:blue;

}
/*Secondedbyreply结束*/
.Sec_content_two_title_threen a{
	width:33.3%!important;
}
.Sec_content_two_con_list_left{
	width: 2.67rem;
	height: 2.67rem;
	float: left;
	margin-top: 0.44rem;
}
.Sec_content_two_con_list_left img{
	width: 2.67rem;
	height: 2.67rem;
	border-radius:50%;
}
.Sec_content_two_con_list_right{
	width: 12.09rem;
	float: right;
	height: auto;
	overflow: hidden;
}
.Sec_content_two_con_list_ni{
	font-size: 0.67rem!important;
	font-weight: bold;
	color:#333!important;
	margin-top: 0.6rem;
}
.Sec_content_two_con_list_right_a{
	width: 100%;
	height:auto;
	overflow: hidden;
	margin-top: 0.36rem;
	margin-bottom: 0.36rem;
}
.Sec_content_two_con_list_right_a a{
	display:block;
	width:3rem;
	height:1rem;
	border:1px solid #ececec;
	text-align: center;
	line-height:1rem;
	font-size: 0.5rem;
	float: left;
	margin-left:0.3rem;
	/* color:#ececec; */
	border-radius: 1rem;
}
.Sec_footer_di_shang{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-top: 0.67rem;
	margin-bottom: 0.67rem;
}
.Sec_footer_di_shang a{
	display:block;
	color:blue;
	text-decoration: none;
	text-align: center;
	font-size: 0.55rem;
}