* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

input {
  border: 1px solid #DEDEDE;
  border-radius: 4px;
  background-color: #F8F6F7;
}

.container {
  margin: 0 auto;
  position: relative;
  width: 1260px;
}

.containersm {
  margin: 0 auto;
  position: relative;
  width: 410px;
}

.head {
  height: 144px;
  background-color: #D80816;
  * {
	color: #FFFFFF;
  }
  .container, .containersm {
	padding-top: 60px;
  }
  .nav {
	margin-top: 32px;
	float: right;
	.dian {
	  width: 4px;
	  height: 4px;
	  border-radius: 50%;
	  background-color: #FFFFFF;
	  display: inline-block;
	  vertical-align: middle;
	}
  }
  .phone {
	position: absolute;
	top: 16px;
	right: 0;
  }
  .logo {
	position: absolute;
	top: 44px;
	left: -105px;
  }
}

.menu {
  height: 62px;
  background-color: #FEFDFD;
  .nav {
	line-height: 62px;
  }
  .item {
	margin: 0 5px;
	padding: 5px 10px;
	border-radius: 15px;
	color: #929292;
  }
  .item:hover, .cur {
	background-color: #E5E5E5;
  }
  .search {
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -18px;
	.inp {
	  width: 260px;
	  height: 36px;
	  outline: none;
	}
	.btn {
	  position: absolute;
	  top: 0;
	  right: 0;
	  width: 36px;
	  height: 36px;
	  text-align: center;
	  line-height: 36px;
	}
  }
}

.login {
  padding: 50px 0;
  height: 552px;
  background-color: #D8D7D8;
  .advert {
	position: relative;
	width: 830px;
	height: 452px;
	border-radius: 16px;
	overflow: hidden;
	.bottom {
	  position: absolute;
	  padding: 22px 42px 0;
	  left: 0;
	  bottom: 0;
	  width: 100%;
	  height: 112px;
	  * {
		color: #ffffff;
	  }
	}
	.bg {
	  position: absolute;
	  left: 0;
	  bottom: 0;
	  width: 100%;
	  height: 100%;
	  background-color: #000000;
	  opacity: 0.7;
	}
	.title, .des {
	  position: relative;
	  z-index: 1;
	}
	.title {
	  margin-bottom: 10px;
	  font-size: 24px;
	  font-weight: bold;
	}
	.des {
	  font-size: 22px;
	}
	.btn {
	  position: absolute;
	  top: 50%;
	  right: 42px;
	  margin-top: -16px;
	  width: 122px;
	  height: 32px;
	  text-align: center;
	  line-height: 32px;
	  border-radius: 16px;
	  background-color: #C0161E;
	}
  }
  .loginBox {
	position: absolute;
	top: 0;
	right: 0;
	padding: 36px 32px 0;
	width: 362px;
	height: 254px;
	border: 1px solid #DBDBDB;
	border-radius: 8px;
	background-color: #FFFFFF;
	.inpBox, .btn {
	  position: relative;
	  margin-bottom: 24px;
	}
	.inp {
	  padding-left: 34px;
	  width: 296px;
	  height: 34px;
	}
	.icon {
	  position: absolute;
	  top: 7px;
	  left: 8px;
	}
	.line {
	  position: absolute;
	  top: 50%;
	  left: 32px;
	  margin-top: -15px;
	  width: 1px;
	  height: 30px;
	  background-color: #D6D6D6;
	}
	.btn {
	  width: 296px;
	  height: 34px;
	  text-align: center;
	  line-height: 34px;
	  background-color: #CA101B;
	  color: #FFFFFF;
	  border-radius: 8px;
	}
	.register {
	  float: left;
	  color: #332C2B;
	}
	.forget {
	  float: right;
	  color: #DF0000;
	}
  }
}

.data {
  min-height: 680px;
  padding: 44px 0 44px;
  .title {
	margin-bottom: 20px;
	font-size: 30px;
  }
  .imgBox {
	position: relative;
	width: 608px;
	height: 294px;
	border-radius: 8px;
	overflow: hidden;
  }
  .bottom {
	position: absolute;
	padding: 0 60px;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 54px;
	.des {
	  position: relative;
	  z-index: 1;
	  color: #FFFFFF;
	  font-size: 16px;
	  line-height: 54px;
	}
	.bg {
	  position: absolute;
	  left: 0;
	  bottom: 0;
	  width: 100%;
	  height: 100%;
	  background-color: #000000;
	  opacity: 0.7;
	}
	.btn {
	  position: absolute;
	  top: 50%;
	  right: 60px;
	  margin-top: -12px;
	  width: 90px;
	  height: 24px;
	  text-align: center;
	  line-height: 24px;
	  border-radius: 12px;
	  background-color: #C0161E;
	  font-size: 12px;
	  color: #FFFFFF;
	}
  }
  .leftBox, .rightBox {
	width: 608px;
  }
  .rightBox {
	position: absolute;
	top: 0;
	right: 0;
  }
  .list {
	padding: 34px 10px 0;
	* {
	  color: #595959;
	}
	.text, .time {
	  display: inline-block;
	}
	.icon, .time {
	  float: right;
	}
	.time {
	  margin-right: 18px;
	}
	.icon {
	  margin-top: 8px;
	}
	.item {
	  height: 32px;
	  line-height: 32px;
	}
  }
}

.link {
  padding-top: 46px;
  height: 312px;
  background-color: #EBEAE9;
  * {
	color: #333333;
  }
  .box {
	margin-right: 60px;
	width: 244px;
	display: inline-block;
	vertical-align: top;
  }
  .title {
	margin-bottom: 40px;
	font-size: 26px;
  }
  a {
	margin-bottom: 10px;
	color: #505050;
	display: block;
	padding-bottom: 6px;
	border-bottom: 1px solid #E1E1E0;
  }
}

.foot {
  height: 56px;
  line-height: 56px;
  color: #FFFFFF;
  background-color: #DF0000;
}

.prompt {
  height: 76px;
  line-height: 76px;
  font-size: 26px;
  background-color: rgb(216, 215, 215);
}

.inps {
  padding-top: 60px;
  .inpBox {
	position: relative;
	margin-bottom: 26px;
	input {
	  padding-left: 34px;
	  width: 100%;
	  height: 34px;
	  display: block;
	}
	.icon {
	  position: absolute;
	  top: 50%;
	  left: 8px;
	  margin-top: -9px;
	}
	.line {
	  position: absolute;
	  left: 32px;
	  top: 50%;
	  margin-top: -14px;
	  width: 1px;
	  height: 28px;
	  background-color: #D6D6D6;
	}
	.btn {
	  position: absolute;
	  color: #ffffff;
	  font-size: 18px;
	  height: 34px;
	  width: 192px;
	  right: 0;
	  text-align: center;
	  top: 0;
	  line-height: 34px;
	  border-top-right-radius: 4px;
	  border-bottom-right-radius: 4px;
	  background-color: rgb(156, 156, 157);
	}
  }
  .agreement,.loginText{
	color: rgb(188,188,188);
  }
  .loginText{
	margin: 15px 0 58px;
	padding-left: 20px;
	a{
	  color: rgb(115,115,115);
	}
  }
  .loginBtn{
	height: 34px;
	border-radius: 4px;
	color: #ffffff;
	text-align: center;
	line-height: 34px;
	background-color: rgb(210,12,24);
  }
}
.referring{
  padding: 32px 0 52px;
  background-color: rgb(230,230,230);
  .container{
	background: #ffffff;
	padding: 42px 58px;
	border-radius: 4px;
  }
  .pic{
	.btn{
	  margin-left: 42px;
	  width: 120px;
	  height: 32px;
	  text-align: center;
	  line-height: 32px;
	  border: 1px solid #DEDEDE;
	  display: inline-block;
	}
  }
  .inpBox{
	margin: 18px 0;
	.title,.con{
	  display: inline-block;
	}
	.title{
	  width: 74px;
	  text-align: right;
	}
	.con{
	  margin-left: 42px;
	  width: 510px;
	  height: 34px;
	  input{
		width: 100%;
		height: 100%;
		background-color: #ffffff;
	  }
	  .state{
		margin: 0 15px;
	  }
	  a{
		color: #000;
	  }
	  .circle{
		width: 16px;
		height: 16px;
		border-radius: 50%;
		display: inline-block;
		vertical-align: middle;
		border: 1px solid rgb(223,0,0 );
	  }
	  select{
		height: 34px;
		border: 1px solid #DEDEDE;
		border-radius: 4px;
	  }
	  .sel1{
		width: 204px;
		margin-right: 20px;
	  }
	  .sel2{
		width: 128px;
	  }
	}
  }
  .textBox{
	margin-left: 42px;
	width: 510px;
	display: inline-block;
	vertical-align: top;
	.text{
	  width: 100%;
	  height: 184px;
	  border: 1px solid #DEDEDE;
	  border-radius: 4px;
	}
  }
  .keepBtn{
	margin-top: 50px;
	margin-left: 122px;
	text-align: center;
	width: 245px;
	height: 34px;
	line-height: 34px;
	color: #ffffff;
	border-radius: 4px;
	background-color: rgb(209,12,27);
  }
}
.proposal{
	padding-bottom: 100px;
	background-color: #E5E5E5;
	.nav{
		line-height: 74px;
		.item{
			padding: 0 16px;
			height: 34px;
			line-height: 34px;
			border-radius: 17px;
			display: inline-block;
		}
		.cur{
			background-color: #DF0000;
		}
	}
	.box{
		margin-bottom: 36px;
		background-color: #FFFFFF;
		border-radius: 6px;
		.boxNav{
			padding: 0 10px;
			line-height: 30px;
			.icon{
				margin: 0 10px;
			}
			a{
				color: #545151;
				float: right;
			}
		}
		.boxPic{
			min-height: 106px;
			background-color: #F1EEEE;
			.pic{
				margin: 14px 32px;
			}
			.text{
				margin-top: 14px;
				display: inline-block;
				vertical-align: middle;
				.name{
					margin-bottom: 2px;
					font-size: 20px;
					color: #343434;
				}
				.ads{
					color: #9F9E9E;
				}
			}
		}
		.boxPic1{
			position: relative;
			height: 160px;
			background-color: #ffffff;
			.k1{
				position: absolute;
				top: 10px;
				right: 10px;
				width: 500px;
				height: 140px;
				padding: 20px;
				background-color: #EEEEEF;
				.k2{
					margin-bottom: 20px;
				}
			}
		}
		.boxCon{
			padding: 0 86px 28px 130px;
			.boxLabel{
				height: 82px;
				line-height: 82px;
				.item{
					padding: 0 14px;
					margin-right: 16px;
					height: 28px;
					border-radius: 14px;
					line-height: 28px;
					border: 1px solid #C4C4C4;
					color: #474747;
					display: inline-block;
				}
			}
			.boxText{
				.title{
					margin-bottom: 16px;
					font-size: 18px;
					color: #404040;
				}
				.text{
					height: 92px;
					word-wrap: break-word;
					color: #37302F;
					overflow: hidden;
				}
				.btn{
					height: 46px;
					a{
						float: right;
						color: #414141;
					}
				}
			}
		}
		.boxCon1{
			padding: 10px 60px;
		}
		.boxMuen{
			.item{
				padding: 4px 10px;
				color: #333;
				border-radius: 4px;
				margin-right: 42px;
				display: inline-block;
			}
			.cur{
				background-color: #F1EEEE;
				color: #DF0000;
			}
		}
		.list{
			padding: 36px 36px 20px;
			width: 646px;
			background-color: #F1EEEE;
			color: #868181;
			.item{
				margin-bottom: 20px;
			}
			.itemB{
				text-align: center;
				color: #333333;
			}
			.pic{
				margin-right: 20px;
			}
			.listText,.listTiem{
				display: inline-block;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			.listText{
				width: 400px;
			}
			.listTiem{
				margin-top: 6px;
				float: right;
			}
		}
		.time{
			margin-top: 24px;
			color: #666;
			font-size: 14px;
		}
	}
	.paging{
		text-align: right;
		color: #808080;
		.pagingA{
			display: inline-block;
			.item{
				margin-right: 12px;
				width: 21px;
				height: 21px;
				text-align: center;
				line-height: 21px;
				background-color: #ffffff;
				border-radius: 50%;
				display: inline-block;
			}
			.cur{
				background-color: #DF0000;
				color: #ffffff;
			}
			.itemB{
				display: inline-block;
			}
		}
	}
}
.keepBtnBox{
	margin-left: 122px;
	.keepBtn{
		margin-left: 0;
		margin-right: 30px;
		width: 164px;
		color: #d10c1b;
		background-color: #ffffff;
		border: 1px solid #bcbcbc;
		display: inline-block;
	}
	.cur{
		color: #ffffff;
		background-color: #d10c1b;
		border-color: #d10c1b;
	}
}