input,
textarea {
  padding: 5px;
}

.inps .inpBox input {
  padding-left: 10px;
}

.j-fujians {
  margin-top: 70px;
}

.j-fujians a {
  margin-right: 10px;
}

.news-detail {}

.news-detail .title {
  width: 600px;
  font-size: 18px;
  color: #000000;
  margin: auto;
  text-align: center;
  margin-top: 20px;
}

.news-detail .time {
  float: right;
  font-size: 12px;
  color: #464646;
  margin-top: 20px;
}

.lib li {
  list-style: none;
  height: 70px;
  font-size: 24px;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  color: #6d6d6d;
  align-items: center;
  -webkit-align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #bfbfbf;
}

.news-detail .content {
  font-size: 14px;
  margin-top: 80px;
}

.news li {
  list-style: none;
  display: flex;
  display: -webkit-flex;
  height: 190px;
  border-bottom: 1px solid #bfbfbf;
  cursor: pointer;
}

.news li img {
  padding-top: 10px;
  width: 250px;
  height: 150px;
}

.news .content {
  width: 100%;
  padding-top: 10px;
}

.news .title {
  font-size: 30px;
  color: #6d6d6d;
}

.news .time {
  font-size: 20px;
  color: #6d6d6d;
  float: right;
  padding-top: 30px;
}

.search {
  display: flex;
  display: -webkit-flex;
  height: 90px;
  /* border-top: 1px solid #ddd; */
  background: #fff;
  border-radius: 10px;
  padding-top: 20px;
  padding-left: 30px;
}

.search select {
  height: 20px;
}

.search .key {
  font-size: 14px;
  margin-left: 40px;
  margin-top: -5px;
}

.search .key span {
  padding: 10px;
  cursor: pointer;
}

.selected {
  color: #51bd6b;
}

.boxText .title {
  cursor: pointer;
}

.input-search input {
  height: 40px;
  margin-top: -5px;
  margin-left: 30px;
  width: 240px;
}

.input-search div {
  height: 40px;
  color: #fff;
  background: #3793ec;
  display: inline-block;
  text-align: center;
  margin-top: -5px;
  width: 100px;
  line-height: 40px;
  border-radius: 5px;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.j-avatar {
  border-radius: 50%;
}

.j-box {
  padding-top: 10px;
  margin-bottom: 30px;
}

.j-box-propo {
  padding: 15px;
}

.j-toggle {
  color: #4b72fd !important;
}

.proposal .box .boxCon .boxText .btn {
  height: auto;
}

.boxNav {
  background-color: #dddddd;
  padding: 0;
  margin: 0 10px 10px 10px;
}

.boxText {
  line-height: 30px;
}

.j-home-btn {
  box-sizing: border-box;
  line-height: 1;
  margin-left: 10px;
  background-color: #FFFFFF;
  display: inline-block;
  color: #E00000;
  padding: 10px 16px;
  /*    height: 34px;
        line-height: 34px;*/
  border-radius: 17px;
  border: 1px solid #E00000;
}

.nav .item {
  cursor: pointer;
}

.j-tag {
  background-color: #FFFFFF;
  display: inline-block;
  color: #9C9C9C;
  padding: 1px 6px;
  /*    height: 24px;
        line-height: 24px;*/
  border-radius: 5px;
  border: 1px solid #9C9C9C;
  margin-right: 5px;
  font-size: 12px;
}

.j-expert-hidden {
  display: inline-block;
}

.boxPic {
  display: flex;
}

.proposal .box .boxCon .boxText .text {
  display: inline-block;
  width: 100%;
  height: auto;
  max-height: 92px;
}

.pagingA .page-btn {
  display: inline-block;
  background-color: #ababab;
  cursor: pointer;
  padding: 8px 20px;
  margin-left: 10px;
  border-radius: 5px;
  color: #FFF;
}

.pagingA .page-btn:hover {
  background-color: #bbb;
}

.proposal .box .boxMuen .item {
  cursor: pointer;
}

.proposal .box .list {
  width: 100%;
}

.jm-post {
  background-color: #fff;
  position: relative;
  border-bottom: 1px solid #cfcfcf;
  padding: 15px;
}

.jm-post:last-child {
  border-bottom-width: 0;
}

.jm-post.jm-post-flex {
  display: flex;
  align-items: flex-start;
}

.jm-post .jm-post-tags {
  margin-top: -10px;
  margin-bottom: 15px;
}

.jm-post .jm-post-avatar {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  overflow: hidden;
  border-radius: 50%;
}

.jm-post .jm-post-avatar img {
  width: 100%;
  height: 100%;
}

.jm-post .jm-post-con {
  position: relative;
  flex: 1;
  word-wrap: break-word;
}

.jm-post .jm-post-title {
  color: #333;
  font-size: 16px;
  margin-bottom: 5px;
}

.jm-post .jm-post-edit {
  position: absolute;
  right: 0;
  top: 24px;
  color: #0384e4;
  font-size: 14px;
}

.jm-post .jm-post-edit i {
  margin-left: 15px;
}

.jm-post .jm-post-hf {
  position: absolute;
  right: 0;
  bottom: 0;
}

.jm-post .jm-post-body {
  color: #787878;
  font-size: 14px;
  line-height: 1.75;
}

.jm-post .jm-post-body.jm-status-open .jm-post-content {
  max-height: none;
}

.jm-post .jm-post-body .jm-post-content {
  word-break: break-all;
  display: block;
  overflow: hidden;
}

.jm-post .jm-post-body a {
  margin: 22px 0;
  color: #0384e4;
  font-size: 14px;
}

.jm-post .jm-post-time {
  color: #cfcfcf;
  font-size: 14px;
}

.jm-post .jm-post-footer {
  /*margin-top: 35px;*/
  float: right;
  display: flex;
  align-items: center;
}

.jm-post .jm-post-footer>a,
.jm-post .jm-post-footer>span {
  margin-left: 15px;
  vertical-align: top;
  display: inline-block;
  font-size: 16px;
}

.jm-post .jm-post-footer>a>span,
.jm-post .jm-post-footer>span>span {
  vertical-align: top;
  color: #9b9b9b;
  font-size: 16px;
}

.jm-post .jm-post-footer>a i,
.jm-post .jm-post-footer>span i {
  margin-right: 15px;
}

.j-hfbox {
  margin-bottom: 36px;
  background-color: #FFFFFF;
  border-radius: 6px;
  padding: 15px;
  display: flex;
}

.j-hfbox .text {
  margin-left: 20px;
  flex: 1;
}

.j-hfbox .text .name {
  margin-bottom: 10px;
}

.j-hfbox .text .time {
  color: #9b9b9b;
}

/*# sourceMappingURL=common.css.map */