.hidden{
    display: none !important;
}
.j-avatar{
    border-radius: 50%;
}
.j-box{
    padding-top: 10px;
    margin-bottom: 30px;
}

.j-box-propo{
    padding: 15px;
}
.j-toggle{
    color: #4b72fd !important;
}
.proposal .box .boxCon .boxText .btn{
    height: auto;
}

.boxNav{
    background-color: #dddddd;padding: 0;margin: 0 10px 10px 10px
}

.boxText{
    line-height: 30px;
}

.j-home-btn{
    box-sizing: border-box;
    line-height: 1;
    margin-left:10px;
    background-color:#FFFFFF;
    display: inline-block;
    color: #E00000;
    padding: 10px 16px;
    /*    height: 34px;
        line-height: 34px;*/
    border-radius: 17px;
    border: 1px solid #E00000;
}

.nav{
    .item{
        cursor: pointer;
    }
}

.j-tag{
    background-color:#FFFFFF;
    display: inline-block;
    color: #9C9C9C;
    padding: 1px 6px;
    /*    height: 24px;
        line-height: 24px;*/
    border-radius: 5px;
    border: 1px solid #9C9C9C;
    margin-right: 5px;
    font-size: 12px;
}

.j-expert-hidden{
    display: inline-block;
}

.boxPic{
    display: flex;
}

.proposal .box .boxCon .boxText .text{
    display: inline-block;
    width: 100%;
    height: auto;
    max-height: 92px;
}

.pagingA{
    .page-btn{
        display: inline-block;
        background-color: #ababab;
        cursor: pointer;
        padding: 8px 20px;
        margin-left: 10px;
        border-radius: 5px;
        color: #FFF;
        &:hover{
            background-color: #bbb;
        }
    }
}

.proposal .box .boxMuen .item{
    cursor: pointer;
}
.proposal .box .list{
    width:100%;
}



.jm-post{
    background-color: #fff;
    position: relative;
    border-bottom: 1px solid #cfcfcf;
    padding: 15px;
    &:last-child{
        border-bottom-width: 0;
    }
    &.jm-post-flex{
        display: flex;
        align-items: flex-start;
    }
    .jm-post-tags{
        margin-top: -10px;
        margin-bottom: 15px;
    }
    .jm-post-avatar{
        width: 60px;
        height: 60px;
        margin-right: 20px;
        overflow: hidden;
        border-radius: 50%;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .jm-post-con{
        position: relative;
        flex: 1;
    }
    .jm-post-title{
        color: #333;
        font-size: 16px;
        margin-bottom: 5px;
    }
    .jm-post-edit{
        position: absolute;
        right: 0;
        top: 24px;
        color: #0384e4;
        font-size: 14px;
        i{
            margin-left: 15px;
        }
    }
    .jm-post-hf{
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .jm-post-body{
        color: #787878;
        font-size: 14px;
        line-height: 1.75;
        &.jm-status-open{
            .jm-post-content{
                max-height: none;
            }
        }
        .jm-post-content{
            display: block;
            max-height: 50px;
            overflow: hidden;
        }
        a{
            margin: 22px 0;
            color: #0384e4;
            font-size: 14px;
        }
    }
    .jm-post-time{
        color: #cfcfcf;
        font-size: 14px;
    }
    .jm-post-footer{
        /*margin-top: 35px;*/
        float: right;
        display: flex;
        align-items: center;
        &>a,&>span{
            margin-left: 15px;
            vertical-align: top;
            display: inline-block;
            font-size: 16px;
            &>span{
                vertical-align: top;
                color: #9b9b9b;
                font-size: 16px;
            }
            i{
                margin-right: 15px;
            }
        }
    }
}

.j-hfbox{
    margin-bottom: 36px;
    background-color: #FFFFFF;
    border-radius: 6px;
    padding: 15px;
    display: flex;
    .text{
        margin-left: 20px;
        flex: 1;
        .name{
            margin-bottom: 10px;
        }
        .time{
            color: #9b9b9b;
        }
    }
}