*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #e6e6e6;
}
a{
    text-decoration: none;
}
img{
    vertical-align: middle;
}
.p_own{
    width: 100%;
    min-width: 1280px;
    background:linear-gradient(#e6e6e6,#dbdbdb,#d1d1d1);
    height: 62px;
    font-size: 18px;
    color: #332C2B;
    ul{
        margin-left: 22px;
        li{
            float: left;
            line-height: 60px;
            margin-right: 40px;
            text-indent: -5px;
        };
    }
    .red{
        color: #C0161E;
    }
}
.p_content{
    background: #e6e6e6;
    padding: 20px 0 60px;
}
input{
    border: 1px solid #DEDEDE;
    border-radius: 4px;
    background-color: #F8F6F7;
}
.container{
    margin: 0 auto;
    position: relative;
    width: 1260px;
}
.containersm {
    margin: 0 auto;
    position: relative;
    width: 410px;
}
.head{
    height: 144px;
    background-color: #D80816;
    *{
        color: #FFFFFF;
    }
    .container{
        padding-top: 60px;
    }
    .nav{
        margin-top: 32px;
        float: right;
        .dian{
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: #FFFFFF;
            display: inline-block;
            vertical-align: middle;
        }
    }
    .phone{
        position: absolute;
        top: 16px;
        right: 0;
    }
    .logo{
        position: absolute;
        top: 44px;
        left: -105px;
    }
}
.menu{
    height: 62px;
    background-color: #FEFDFD;
    .nav{
        line-height: 62px;
    }
    .item{
        margin: 0 5px;
        padding: 5px 10px;
        border-radius: 15px;
        color: #929292;
    }
    .item:hover,.cur{
        background-color: #E5E5E5;
    }
    .search{
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -18px;
        .inp{
            width: 260px;
            height: 36px;
            outline: none;
        }
        .btn{
            position: absolute;
            top: 0;
            right: 0;
            width: 36px;
            height: 36px;
            text-align: center;
            line-height: 36px;
        }
    }
}
.login{
    padding: 50px 0;
    height: 552px;
    background-color: #D8D7D8;
    .advert{
        position: relative;
        width: 830px;
        height: 452px;
        border-radius: 16px;
        overflow: hidden;
        .bottom{
            position: absolute;
            padding: 22px 42px 0;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 112px;
            *{
                color: #ffffff;
            }
        }
        .bg{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-color: #000000;
            opacity: 0.7;
        }
        .title,.des{
            position: relative;
            z-index: 1;
        }
        .title{
            margin-bottom: 10px;
            font-size: 24px;
            font-weight: bold;
        }
        .des{
            font-size: 22px;
        }
        .btn{
            position: absolute;
            top: 50%;
            right: 42px;
            margin-top: -16px;
            width: 122px;
            height: 32px;
            text-align: center;
            line-height: 32px;
            border-radius: 16px;
            background-color: #C0161E;
        }
    }
    .loginBox{
        position: absolute;
        top: 0;
        right: 0;
        padding: 36px 32px 0;
        width: 362px;
        height: 254px;
        border: 1px solid #DBDBDB;
        border-radius: 8px;
        background-color: #FFFFFF;
        .inpBox,.btn{
            position: relative;
            margin-bottom: 24px;
        }
        .inp{
            padding-left: 34px;
            width: 296px;
            height: 34px;
        }
        .icon{
            position: absolute;
            top: 7px;
            left: 8px;
        }
        .line{
            position: absolute;
            top: 50%;
            left: 32px;
            margin-top: -15px;
            width: 1px;
            height: 30px;
            background-color: #D6D6D6;
        }
        .btn{
            width: 296px;
            height: 34px;
            text-align: center;
            line-height: 34px;
            background-color: #CA101B;
            color: #FFFFFF;
            border-radius: 8px;
        }
        .register{
            float: left;
            color: #332C2B;
        }
        .forget{
            float: right;
            color: #DF0000;
        }
    }
}
.data{
    min-height: 680px;
    padding: 44px 0 44px;
    .title{
        margin-bottom: 20px;
        font-size: 30px;
    }
    .imgBox{
        position: relative;
        width: 608px;
        height: 294px;
        border-radius: 8px;
        overflow: hidden;
    }
    .bottom{
        position: absolute;
        padding: 0 60px;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 54px;
        .des{
            position: relative;
            z-index: 1;
            color: #FFFFFF;
            font-size: 16px;
            line-height: 54px;
        }
        .bg{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-color: #000000;
            opacity: 0.7;
        }
        .btn{
            position: absolute;
            top: 50%;
            right: 60px;
            margin-top: -12px;
            width: 90px;
            height: 24px;
            text-align: center;
            line-height: 24px;
            border-radius: 12px;
            background-color: #C0161E;
            font-size: 12px;
            color: #FFFFFF;
        }
    }
    .leftBox,.rightBox{
        width: 608px;
    }
    .rightBox{
        position: absolute;
        top: 0;
        right: 0;
    }
    .list{
        padding: 34px 10px 0;
        *{
            color: #595959;
        }
        .text,.time{
            display: inline-block;
        }
        .icon,.time{
            float: right;
        }
        .time{
            margin-right: 18px;
        }
        .icon{
            margin-top: 8px;
        }
        .item{
            height: 32px;
            line-height: 32px;
        }
    }
}
.link{
    padding-top: 46px ;
    height: 312px;
    background-color: #EBEAE9;
    *{
        color: #333333;
    }
    .box{
        margin-right: 60px;
        width: 244px;
        display: inline-block;
        vertical-align: top;
    }
    .title{
        margin-bottom: 40px;
        font-size: 26px;
    }
    a{
        margin-bottom: 10px ;
        color: #505050;
        display: block;
        padding-bottom: 6px;
        border-bottom: 1px solid #E1E1E0;
    }
}
.foot{
    height: 56px;
    line-height: 56px;
    color: #FFFFFF;
    background-color: #DF0000;
}
.clearfix:after{
    content: '';
    height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
.inps {
    padding-top: 60px;
    .inpBox {
        position: relative;
        margin-bottom: 26px;
        input {
            padding-left: 34px;
            width: 100%;
            height: 34px;
            display: block;
        }
        .icon {
            position: absolute;
            top: 50%;
            left: 8px;
            margin-top: -9px;
        }
        .line {
            position: absolute;
            left: 32px;
            top: 50%;
            margin-top: -14px;
            width: 1px;
            height: 28px;
            background-color: #D6D6D6;
        }
        .btn {
            position: absolute;
            color: #ffffff;
            font-size: 18px;
            height: 34px;
            width: 192px;
            right: 0;
            text-align: center;
            top: 0;
            line-height: 34px;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            background-color: rgb(156, 156, 157);
        }
    }
    .agreement,.loginText{
        color: rgb(188,188,188);
    }
    .loginText{
        margin: 15px 0 58px;
        padding-left: 20px;
        a{
            color: rgb(115,115,115);
        }
    }
    .loginBtn{
        height: 34px;
        border-radius: 4px;
        color: #ffffff;
        text-align: center;
        line-height: 34px;
        background-color: rgb(210,12,24);
    }
}
.prompt {
    height: 76px;
    line-height: 76px;
    font-size: 26px;
    background-color: rgb(216, 215, 215);
}
.containersm{
    .containersm_img{
        margin-top: 60px;
    }
}


/*index8*/
.index8_wrap{
    .inpBox{
        position: relative;
        .position_p{
            //display: inline-block;
            position: absolute;
            left: -120px;
            top: 5px;
            width: 120px;
            text-align: right;
            color: #808080;
            span{
                color: #e40000;
            }
        }
        .tab_p{
            position: absolute;
            right: -80px;
            top: 5px;
            color: #e40000;
        }
    }
}
/*index9*/
.index9_wrap{
    .content{
        width: 100%;
        padding:25px 50px;
        background: #f5f5f5;
        p{
            font-size: 20px;
            line-height: 40px;
            text-align: center;
        };
        .loginBtn{
            //width: 250px;
        }
    }
}
/*index17 index22 index20*/
.index17_wrap,.index20_wrap,.index22_wrap{
    .p_content{
        ul{
            li{
                //height: 60px;
                //line-height: 60px;
                color: #808080;
                font-size: 14px;
                list-style: none;
                float: left;
                padding:3px 12px;
                background: #fff;
                border-radius: 5px;
                margin-right: 30px
            }
            .active{
                background: red;
                color: #fff;
            }
        }
        .introduce{
            padding: 30px 50px;
            margin-top: 30px;
            background: #fff;
            .left{
                float: left;
                width: 680px;
                h2{
                    font-size: 20px;
                    color: #332C2B;
                    line-height: 50px;
                }
                p{
                    line-height: 28px;
                }
                .footImg{
                    height: 35px;
                    margin-top: 30px;
                    img{
                        height: 100%;
                    }
                }
            }
            .right{
                float: left;
                width: 450px;
                text-align: center;
                img {
                    width:250px;
                    vertical-align: middle;
                    margin-top: 10%;
                }
            }
        }
    }
}
/*index21*/
.index21_wrap{
    .p_content{
        .img_wrap {
            width: 65%;
            border-radius: 10px;
            img {
                width: 100%;
            }
        }
        .information{
            width: 65%;
            margin:30px 0 30px;
            .left{
                float: left;
                min-width: 420px;
                height: 200px;
                .inpBox{
                    position: relative;
                    margin-bottom: 24px;
                    font-size: 14px;
                }
                .lx{
                    position: absolute;
                    left: 10px;
                    top: 8px;
                }
                .inp {
                    padding-left: 64px;
                    width: 100%;
                    height: 34px;
                }
                .btn{
                    position: absolute;
                    color: #ffffff;
                    font-size: 18px;
                    height: 34px;
                    width: 192px;
                    right: 0;
                    text-align: center;
                    top: 0;
                    line-height: 34px;
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                    background-color: #9c9c9d;
                }
                .line {
                    position: absolute;
                    top: 50%;
                    left: 60px;
                    margin-top: -15px;
                    width: 1px;
                    height: 30px;
                    background-color: #D6D6D6;
                }
                .button{
                    height: 34px;
                    border-radius: 4px;
                    color: #ffffff;
                    text-align: center;
                    line-height: 34px;
                    background-color: #d20c18;
                }
                p{
                    color: #808080;font-size: 14px;
                }
            }
            .right{
                float: right;
                ul{

                    li{
                        float: left;
                        list-style: none;
                        width: 45px;
                        height: 45px;
                        margin-left: 30px;
                        padding: 5px;
                        background: #fff;
                        border:1px solid #808080;
                        color: #808080;
                        font-size: 14px;
                        border-radius: 5px;
                        line-height: 35px;
                        text-align: center;
                    }
                    .only{
                        line-height:18px;
                    }
                    .active{
                        background: #0093fc;
                        color: #fff;
                    }
                }
            }
        }
    }
}
/*index20*/
.index20_wrap{
    .p_content{
        .introduce{
            .left{
                p{
                    text-indent: 50px;
                }
            }
            .right{
                img{
                    margin: 0;
                }
            }
        }

    }

}
/*index19*/
.index19_wrap{
    width: 100%;
    //height: 480px;
    padding: 35px 0;
    background: #fbe0e2;
    .content{

        width: 100%;
        border-radius: 15px;
        position: relative;
        p{
            width: 1260px;
            text-align: center;
            position: absolute;
            top: 50px;
            font-size: 40px;
            color: #ff3399;
            text-shadow: 3px 3px 5px #cdcadf;
        };
    }
}
/*index18*/
.index18_wrap{}
/*index17*/
.index17_wrap{
    .p_own{
        position: relative;
        .nav_img{
            width: 25px;
            position: absolute;
            left: 0;
            top: 20px;
        }
        li{
            list-style: none;
            text-indent: 20px;
        }
    }
    .p_content{
        span{
            float: left;
            color: #808080;
        }
        .field{
            float: left;
            margin:0 0 30px 50px;
        }
        .field2{
            width: 100%;
            //margin-top: 30px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .field2_li{
                padding: 8px 8px 20px;
                width: 22%;
                margin: 0 0 30px 0;
                .img_wrap{
                    width: 100%;
                    //height: 120px;
                    background: #3eb143;
                    img{
                        width: 100%;
                    }
                }
                .text{
                    padding: 10px;
                    p{
                        line-height: 25px;
                    };
                    .address{
                        color: #ff6633;
                        font-size: 18px;
                    }
                    hr{
                        margin: 10px 0;
                    }

                    li{
                        background:#ff6633;
                        color: #fff;
                        padding:2px 10px;
                    }
                }
            }
        }
    }
}
/*index16*/
.index16_wrap{
    background: #e6e6e6;
    .content16{
        margin-bottom: 20px;
        position: relative;
        .img_wen{
            position: absolute;
            top: 50px;
            left: 100px;
            h2{
                font-size: 40px;
                line-height: 80px;
                color: #fff;
                text-shadow: 5px 5px 3px #8e8c89;
            }
            h3{
                font-size: 28px;
                font-weight: 300;
                text-shadow: 1px 1px 6px #000;
                color: #ffffff;
            }
        }
    }
    .container{
        .nav_img{
            width: 25px;
            position: absolute;
            left: -35px;
            top: 8px;
        }

    }

}

.num .item {
  margin-right: 100px;
  margin-top: -20px;
  margin-bottom: 30px;
  width: 56px;
  height: 56px;
  line-height: 56px;
  border-radius: 50%;
  border: 1px solid #999999;
  color: #999999;
  text-align: center;
  font-size: 30px;
  background-color: #FFFFFF;
  display: inline-block;
}
.num .cur{
  border-color: #D90000;
  color: #D90000;
}