* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #e6e6e6;
}
a {
  text-decoration: none;
}
img {
  vertical-align: middle;
}
.p_own {
  width: 100%;
  min-width: 1280px;
  background: linear-gradient(#e6e6e6, #dbdbdb, #d1d1d1);
  height: 62px;
  font-size: 18px;
  color: #332C2B;
}
.p_own ul {
  margin-left: 22px;
}
.p_own ul li {
  float: left;
  line-height: 60px;
  margin-right: 40px;
  text-indent: -5px;
}
.p_own .red {
  color: #C0161E;
}
.p_content {
  background: #e6e6e6;
  padding: 20px 0 60px;
}
input {
  border: 1px solid #DEDEDE;
  border-radius: 4px;
  background-color: #F8F6F7;
}
.container {
  margin: 0 auto;
  position: relative;
  width: 1260px;
}
.containersm {
  margin: 0 auto;
  position: relative;
  width: 410px;
}
.head {
  height: 144px;
  background-color: #D80816;
}
.head * {
  color: #FFFFFF;
}
.head .container {
  padding-top: 60px;
}
.head .nav {
  margin-top: 32px;
  float: right;
}
.head .nav .dian {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #FFFFFF;
  display: inline-block;
  vertical-align: middle;
}
.head .phone {
  position: absolute;
  top: 16px;
  right: 0;
}
.head .logo {
  position: absolute;
  top: 44px;
  left: -105px;
}
.menu {
  height: 62px;
  background-color: #FEFDFD;
}
.menu .nav {
  line-height: 62px;
}
.menu .item {
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 15px;
  color: #929292;
}
.menu .item:hover,
.menu .cur {
  background-color: #E5E5E5;
}
.menu .search {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -18px;
}
.menu .search .inp {
  width: 260px;
  height: 36px;
  outline: none;
}
.menu .search .btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
}
.login {
  padding: 50px 0;
  height: 552px;
  background-color: #D8D7D8;
}
.login .advert {
  position: relative;
  width: 830px;
  height: 452px;
  border-radius: 16px;
  overflow: hidden;
}
.login .advert .bottom {
  position: absolute;
  padding: 22px 42px 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 112px;
}
.login .advert .bottom * {
  color: #ffffff;
}
.login .advert .bg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.7;
}
.login .advert .title,
.login .advert .des {
  position: relative;
  z-index: 1;
}
.login .advert .title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}
.login .advert .des {
  font-size: 22px;
}
.login .advert .btn {
  position: absolute;
  top: 50%;
  right: 42px;
  margin-top: -16px;
  width: 122px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  border-radius: 16px;
  background-color: #C0161E;
}
.login .loginBox {
  position: absolute;
  top: 0;
  right: 0;
  padding: 36px 32px 0;
  width: 362px;
  height: 254px;
  border: 1px solid #DBDBDB;
  border-radius: 8px;
  background-color: #FFFFFF;
}
.login .loginBox .inpBox,
.login .loginBox .btn {
  position: relative;
  margin-bottom: 24px;
}
.login .loginBox .inp {
  padding-left: 34px;
  width: 296px;
  height: 34px;
}
.login .loginBox .icon {
  position: absolute;
  top: 7px;
  left: 8px;
}
.login .loginBox .line {
  position: absolute;
  top: 50%;
  left: 32px;
  margin-top: -15px;
  width: 1px;
  height: 30px;
  background-color: #D6D6D6;
}
.login .loginBox .btn {
  width: 296px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  background-color: #CA101B;
  color: #FFFFFF;
  border-radius: 8px;
}
.login .loginBox .register {
  float: left;
  color: #332C2B;
}
.login .loginBox .forget {
  float: right;
  color: #DF0000;
}
.data {
  min-height: 680px;
  padding: 44px 0 44px;
}
.data .title {
  margin-bottom: 20px;
  font-size: 30px;
}
.data .imgBox {
  position: relative;
  width: 608px;
  height: 294px;
  border-radius: 8px;
  overflow: hidden;
}
.data .bottom {
  position: absolute;
  padding: 0 60px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 54px;
}
.data .bottom .des {
  position: relative;
  z-index: 1;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 54px;
}
.data .bottom .bg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.7;
}
.data .bottom .btn {
  position: absolute;
  top: 50%;
  right: 60px;
  margin-top: -12px;
  width: 90px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  border-radius: 12px;
  background-color: #C0161E;
  font-size: 12px;
  color: #FFFFFF;
}
.data .leftBox,
.data .rightBox {
  width: 608px;
}
.data .rightBox {
  position: absolute;
  top: 0;
  right: 0;
}
.data .list {
  padding: 34px 10px 0;
}
.data .list * {
  color: #595959;
}
.data .list .text,
.data .list .time {
  display: inline-block;
}
.data .list .icon,
.data .list .time {
  float: right;
}
.data .list .time {
  margin-right: 18px;
}
.data .list .icon {
  margin-top: 8px;
}
.data .list .item {
  height: 32px;
  line-height: 32px;
}
.link {
  padding-top: 46px ;
  height: 312px;
  background-color: #EBEAE9;
}
.link * {
  color: #333333;
}
.link .box {
  margin-right: 60px;
  width: 244px;
  display: inline-block;
  vertical-align: top;
}
.link .title {
  margin-bottom: 40px;
  font-size: 26px;
}
.link a {
  margin-bottom: 10px ;
  color: #505050;
  display: block;
  padding-bottom: 6px;
  border-bottom: 1px solid #E1E1E0;
}
.foot {
  height: 56px;
  line-height: 56px;
  color: #FFFFFF;
  background-color: #DF0000;
}
.clearfix:after {
  content: '';
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
.inps {
  padding-top: 60px;
}
.inps .inpBox {
  position: relative;
  margin-bottom: 26px;
}
.inps .inpBox input {
  padding-left: 34px;
  width: 100%;
  height: 34px;
  display: block;
}
.inps .inpBox .icon {
  position: absolute;
  top: 50%;
  left: 8px;
  margin-top: -9px;
}
.inps .inpBox .line {
  position: absolute;
  left: 32px;
  top: 50%;
  margin-top: -14px;
  width: 1px;
  height: 28px;
  background-color: #D6D6D6;
}
.inps .inpBox .btn {
  position: absolute;
  color: #ffffff;
  font-size: 18px;
  height: 34px;
  width: 192px;
  right: 0;
  text-align: center;
  top: 0;
  line-height: 34px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #9c9c9d;
}
.inps .agreement,
.inps .loginText {
  color: #bcbcbc;
}
.inps .loginText {
  margin: 15px 0 58px;
  padding-left: 20px;
}
.inps .loginText a {
  color: #737373;
}
.inps .loginBtn {
  height: 34px;
  border-radius: 4px;
  color: #ffffff;
  text-align: center;
  line-height: 34px;
  background-color: #d20c18;
}
.prompt {
  height: 76px;
  line-height: 76px;
  font-size: 26px;
  background-color: #d8d7d7;
}
.containersm .containersm_img {
  margin-top: 60px;
}
/*index8*/
.index8_wrap .inpBox {
  position: relative;
}
.index8_wrap .inpBox .position_p {
  position: absolute;
  left: -120px;
  top: 5px;
  width: 120px;
  text-align: right;
  color: #808080;
}
.index8_wrap .inpBox .position_p span {
  color: #e40000;
}
.index8_wrap .inpBox .tab_p {
  position: absolute;
  right: -80px;
  top: 5px;
  color: #e40000;
}
/*index9*/
.index9_wrap .content {
  width: 100%;
  padding: 25px 50px;
  background: #f5f5f5;
}
.index9_wrap .content p {
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}
/*index17 index22 index20*/
.index17_wrap .p_content ul li,
.index20_wrap .p_content ul li,
.index22_wrap .p_content ul li {
  color: #808080;
  font-size: 14px;
  list-style: none;
  float: left;
  padding: 3px 12px;
  background: #fff;
  border-radius: 5px;
  margin-right: 30px;
}
.index17_wrap .p_content ul .active,
.index20_wrap .p_content ul .active,
.index22_wrap .p_content ul .active {
  background: red;
  color: #fff;
}
.index17_wrap .p_content .introduce,
.index20_wrap .p_content .introduce,
.index22_wrap .p_content .introduce {
  padding: 30px 50px;
  margin-top: 30px;
  background: #fff;
}
.index17_wrap .p_content .introduce .left,
.index20_wrap .p_content .introduce .left,
.index22_wrap .p_content .introduce .left {
  float: left;
  width: 680px;
}
.index17_wrap .p_content .introduce .left h2,
.index20_wrap .p_content .introduce .left h2,
.index22_wrap .p_content .introduce .left h2 {
  font-size: 20px;
  color: #332C2B;
  line-height: 50px;
}
.index17_wrap .p_content .introduce .left p,
.index20_wrap .p_content .introduce .left p,
.index22_wrap .p_content .introduce .left p {
  line-height: 28px;
}
.index17_wrap .p_content .introduce .left .footImg,
.index20_wrap .p_content .introduce .left .footImg,
.index22_wrap .p_content .introduce .left .footImg {
  height: 35px;
  margin-top: 30px;
}
.index17_wrap .p_content .introduce .left .footImg img,
.index20_wrap .p_content .introduce .left .footImg img,
.index22_wrap .p_content .introduce .left .footImg img {
  height: 100%;
}
.index17_wrap .p_content .introduce .right,
.index20_wrap .p_content .introduce .right,
.index22_wrap .p_content .introduce .right {
  float: left;
  width: 450px;
  text-align: center;
}
.index17_wrap .p_content .introduce .right img,
.index20_wrap .p_content .introduce .right img,
.index22_wrap .p_content .introduce .right img {
  width: 250px;
  vertical-align: middle;
  margin-top: 10%;
}
/*index21*/
.index21_wrap .p_content .img_wrap {
  width: 65%;
  border-radius: 10px;
}
.index21_wrap .p_content .img_wrap img {
  width: 100%;
}
.index21_wrap .p_content .information {
  width: 65%;
  margin: 30px 0 30px;
}
.index21_wrap .p_content .information .left {
  float: left;
  min-width: 420px;
  height: 200px;
}
.index21_wrap .p_content .information .left .inpBox {
  position: relative;
  margin-bottom: 24px;
  font-size: 14px;
}
.index21_wrap .p_content .information .left .lx {
  position: absolute;
  left: 10px;
  top: 8px;
}
.index21_wrap .p_content .information .left .inp {
  padding-left: 64px;
  width: 100%;
  height: 34px;
}
.index21_wrap .p_content .information .left .btn {
  position: absolute;
  color: #ffffff;
  font-size: 18px;
  height: 34px;
  width: 192px;
  right: 0;
  text-align: center;
  top: 0;
  line-height: 34px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #9c9c9d;
}
.index21_wrap .p_content .information .left .line {
  position: absolute;
  top: 50%;
  left: 60px;
  margin-top: -15px;
  width: 1px;
  height: 30px;
  background-color: #D6D6D6;
}
.index21_wrap .p_content .information .left .button {
  height: 34px;
  border-radius: 4px;
  color: #ffffff;
  text-align: center;
  line-height: 34px;
  background-color: #d20c18;
}
.index21_wrap .p_content .information .left p {
  color: #808080;
  font-size: 14px;
}
.index21_wrap .p_content .information .right {
  float: right;
}
.index21_wrap .p_content .information .right ul li {
  float: left;
  list-style: none;
  width: 45px;
  height: 45px;
  margin-left: 30px;
  padding: 5px;
  background: #fff;
  border: 1px solid #808080;
  color: #808080;
  font-size: 14px;
  border-radius: 5px;
  line-height: 35px;
  text-align: center;
}
.index21_wrap .p_content .information .right ul .only {
  line-height: 18px;
}
.index21_wrap .p_content .information .right ul .active {
  background: #0093fc;
  color: #fff;
}
/*index20*/
.index20_wrap .p_content .introduce .left p {
  text-indent: 50px;
}
.index20_wrap .p_content .introduce .right img {
  margin: 0;
}
/*index19*/
.index19_wrap {
  width: 100%;
  padding: 35px 0;
  background: #fbe0e2;
}
.index19_wrap .content {
  width: 100%;
  border-radius: 15px;
  position: relative;
}
.index19_wrap .content p {
  width: 1260px;
  text-align: center;
  position: absolute;
  top: 50px;
  font-size: 40px;
  color: #ff3399;
  text-shadow: 3px 3px 5px #cdcadf;
}
/*index18*/
/*index17*/
.index17_wrap .p_own {
  position: relative;
}
.index17_wrap .p_own .nav_img {
  width: 25px;
  position: absolute;
  left: 0;
  top: 20px;
}
.index17_wrap .p_own li {
  list-style: none;
  text-indent: 20px;
}
.index17_wrap .p_content span {
  float: left;
  color: #808080;
}
.index17_wrap .p_content .field {
  float: left;
  margin: 0 0 30px 50px;
}
.index17_wrap .p_content .field2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.index17_wrap .p_content .field2 .field2_li {
  padding: 8px 8px 20px;
  width: 22%;
  margin: 0 0 30px 0;
}
.index17_wrap .p_content .field2 .field2_li .img_wrap {
  width: 100%;
  background: #3eb143;
}
.index17_wrap .p_content .field2 .field2_li .img_wrap img {
  width: 100%;
}
.index17_wrap .p_content .field2 .field2_li .text {
  padding: 10px;
}
.index17_wrap .p_content .field2 .field2_li .text p {
  line-height: 25px;
}
.index17_wrap .p_content .field2 .field2_li .text .address {
  color: #ff6633;
  font-size: 18px;
}
.index17_wrap .p_content .field2 .field2_li .text hr {
  margin: 10px 0;
}
.index17_wrap .p_content .field2 .field2_li .text li {
  background: #ff6633;
  color: #fff;
  padding: 2px 10px;
}
/*index16*/
.index16_wrap {
  background: #e6e6e6;
}
.index16_wrap .content16 {
  margin-bottom: 20px;
  position: relative;
}
.index16_wrap .content16 .img_wen {
  position: absolute;
  top: 50px;
  left: 100px;
}
.index16_wrap .content16 .img_wen h2 {
  font-size: 40px;
  line-height: 80px;
  color: #fff;
  text-shadow: 5px 5px 3px #8e8c89;
}
.index16_wrap .content16 .img_wen h3 {
  font-size: 28px;
  font-weight: 300;
  text-shadow: 1px 1px 6px #000;
  color: #ffffff;
}
.index16_wrap .container .nav_img {
  width: 25px;
  position: absolute;
  left: -35px;
  top: 8px;
}
.num .item {
  margin-right: 100px;
  margin-top: -20px;
  margin-bottom: 30px;
  width: 56px;
  height: 56px;
  line-height: 56px;
  border-radius: 50%;
  border: 1px solid #999999;
  color: #999999;
  text-align: center;
  font-size: 30px;
  background-color: #FFFFFF;
  display: inline-block;
}
.num .cur {
  border-color: #D90000;
  color: #D90000;
}
